* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
}

.container {
    text-align: center;
    padding: 40px;
}

h3 {
  margin-right: 150px;

}

h1 {
    margin-bottom: 20px;
    padding-top: 30px;
}

.btn-add {
    background-color: #1998ff;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 9px;
    cursor: pointer;
    margin-bottom: 30px;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    width: 320px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-top: solid 7px #2061ec;

}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    margin-bottom: 6px;
    color: #555555;
    margin-right: 150px;
}

.card-btn {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn-edit {
    background-color: #10a51c;
    border: none;
    padding: 7px 12px;
    border-radius: 6px;
    cursor: pointer;
}

.btn-delete {
    background-color:   #8b1407;
    color: white;
    border: none;
    padding: 7px 12px;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 150px;
}